.btn {
  text-align: center;
  padding: 5px 12px 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: MBCorpo-Text, DaimlerCS-Regular, Helvetica, Arial, sans-serif;
  margin-top: 2.5rem;

  &--secondary {
    color: #fff;
    background-color: $color-secondary;
    border-radius: 1px;
    @include Responsive(MD) {
      display: block;
      max-width: 520px;
      margin: 40px auto 0;
    }

    &:hover {
      color: #fff;
      background-color: $color-secondary-active;
    }
  }

  &--showmore {
    border: 1px solid #202020;
    color: #999;
    background: linear-gradient(#303030, #202020);
    text-align: center;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-family: MBCorpo-Text, DaimlerCS-Regular, Helvetica, Arial, sans-serif;
    margin-top: 2.5rem;
    transition: all 0.5s;
    i {
      color: inherit;
    }
    &:hover {
      color: #fff;
      i {
        color: inherit;
      }
    }
  }
}
