.btn {
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2.5rem;

  &--secondary {
    color: #fff;
    background-color: $color-secondary;

    &:hover {
      color: #fff;
      background-color: $color-secondary-active;
    }
  }

  &--showmore {
    border: 1px solid #202020;
    color: #fff;
    background: linear-gradient(#303030, #202020);
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 2.5rem;
  }
}
