// COLORS
$color-primary: #fff;
$color-secondary: #00adef;
$color-secondary-active: #0088c6;
$primary-text: #fff;
$primary-theme: #00adef;
$active-theme: #0088c6;
$primary-bg: #000;
$primary-link: #999999;
// FONT
$font: "Times New Roman", Helvetica, Arial, sans-serif;
