html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: MBCorpo-Title;
  src: url(../fonts/MBCorpoATitleCond-Regular-Web.woff2);
  font-weight: 400;
}

@font-face {
  font-family: MBCorpo-Text;
  src: url(../fonts/MBCorpoSText-Regular-Web.woff2);
  font-weight: 400;
}

@font-face {
  font-family: DaimlerCAC-Regular;
  src: url(../fonts/DaimlerCAC-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: DaimlerCS-Regular;
  src: url(../fonts/DaimlerCS-Regular.woff2);
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 44px;
  font-weight: 400;
  text-align: left;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: MBCorpo-Text, DaimlerCS-Regular, Helvetica, Arial, sans-serif;
}

body h1,
body h2,
body h3 {
  font-family: MBCorpo-Title, DaimlerCAC-Regular, Helvetica, Arial, sans-serif;
}

body p {
  margin-bottom: 14px;
  line-height: 2.2rem;
}

body hr {
  border-top: 1px solid #333333;
  margin: 30px 0;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

.text-align {
  text-align: center;
}

.container-outer {
  margin: 60px auto;
  max-width: 1680px;
  width: 100%;
  text-align: center;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.card {
  margin-top: 12px;
}

.card .item {
  width: 80%;
}

.card .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.card .image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: (12vw)[5];
      grid-template-rows: repeat(5, 12vw);
}

@media screen and (max-width: 1580px) {
  .card .image-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: (18vw)[6];
        grid-template-rows: repeat(6, 18vw);
  }
}

@media screen and (max-width: 1280px) {
  .card .image-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: (24vw)[7];
        grid-template-rows: repeat(7, 24vw);
  }
}

@media screen and (max-width: 768px) {
  .card .image-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (48vw)[8];
        grid-template-rows: repeat(8, 48vw);
  }
}

.card .image-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 1280px) {
  .card .image-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

.card .image-10 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
}

@media screen and (max-width: 1280px) {
  .card .image-10 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
}

.card .img {
  position: relative;
  cursor: pointer;
}

.card .img:hover .img__text {
  height: 50%;
}

.card .img:hover .img__text p {
  opacity: 1;
  visibility: initial;
  position: relative;
  top: 10px;
}

.card .img:hover .img__icon {
  opacity: 0;
}

.card .img__text {
  position: absolute;
  width: 100%;
  height: 25%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding-left: 2%;
  padding-top: 2%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: left;
}

.card .img__text h2 {
  font-size: 22px;
}

.card .img__text p {
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card .img__icon {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  bottom: 25%;
}

.card .img__icon i {
  color: #333;
  padding: 7px 12px;
  background-color: #bfbfbf;
  font-size: 14px;
}

.card .img__icon p {
  margin-bottom: 0 !important;
  line-height: initial;
  padding: 8px 15px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}

.btn {
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2.5rem;
}

.btn--secondary {
  color: #fff;
  background-color: #00adef;
}

.btn--secondary:hover {
  color: #fff;
  background-color: #0088c6;
}

.btn--showmore {
  border: 1px solid #202020;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#202020));
  background: linear-gradient(#303030, #202020);
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2.5rem;
}

.nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.nav-link {
  margin: 0 20px;
  padding: 8px 0;
  position: relative;
}

.nav-item .nav-link {
  color: #fff;
  background-color: transparent;
}

.nav-pills .nav-link.active {
  color: #00adef;
  background-color: transparent;
}

.nav-pills .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #00adef;
}

.headline {
  background-color: black;
  color: #fff;
}

.headline h2 {
  font-size: 34px;
  line-height: 44px;
  margin: 14px auto;
}

.headline p {
  margin: 14px auto;
  font-size: 12px;
}

.headline__text {
  padding: 110px 0;
}

.channels {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.channels img {
  width: 100%;
}

.channels__border {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.channels__border div {
  background-color: #00adef;
  height: 100%;
  margin: 0 15px;
}

.channels:hover .channels__border {
  height: 7px;
}

.header {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

.header__content {
  max-width: calc(100% - 60px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
}

.header__logo a img {
  width: 100%;
  margin-right: 6rem;
}

.header__logo a img:last-child {
  margin-top: 10px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right .menu__sub ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__right .menu__sub ul li {
  color: #fff;
  padding: 10px 20px;
}

.header__right .menu__sub ul li svg {
  margin-right: 10px;
  margin-top: -10px;
}

.header__right .menu__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.header__right .menu__main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right .menu__main ul li a {
  color: #fff;
  padding: 10px 20px;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
}

.carousel__content {
  max-width: calc(100% - 20px);
  margin: 0 auto;
}

.carousel__content .slide-arrow {
  position: absolute;
  display: block;
  z-index: 10;
  top: 50%;
  line-height: 1;
  margin-top: -2em;
  cursor: pointer;
}

.carousel__content .slide-arrow:hover {
  opacity: 0.6;
}

.carousel__content .slide-arrow.swiper-button-disabled {
  display: none;
}

.carousel__content .slide-arrow__prev {
  left: 0;
}

.carousel__content .slide-arrow__next {
  right: 0;
}

.carousel__content .slide-arrow .material-icons {
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #333;
  line-height: 1;
}

.carousel__content .swiper-slide {
  position: relative;
}

.carousel__content .item__layout {
  position: absolute;
  left: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.carousel__content .item__layout h1 {
  font-size: 48px;
  margin-top: 10rem;
}

.carousel__content .item__layout a {
  background: #333;
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  padding: 7px 20px 6px 7px;
}

.carousel__content .item__layout .item__subtext p {
  font-size: 14px;
  margin-bottom: 14px;
}

.carousel__content .swiper-slide img {
  width: 100%;
  height: 718px;
}

.carousel__content .swiper-button-next,
.carousel__content .swiper-button-prev {
  color: #fff;
  margin-left: 3rem;
  margin-right: 3rem;
}

.carousel__content .carousel___search {
  background-color: #333;
  padding: 26px 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -2px;
}

.carousel__content .carousel___search form {
  margin: 0;
  width: 100%;
  position: relative;
}

.carousel__content .carousel___search form .form-control {
  background-color: #ececec;
  border: 1px solid #ececec;
  color: #333 !important;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  padding: 0.355rem 1rem 0.215rem 1rem;
  vertical-align: baseline;
  width: calc(100% - 4.425rem);
  margin: 0 auto;
  border-radius: 0;
}

.carousel__content .carousel___search form .btn {
  position: absolute;
  right: 4rem;
  top: -2.5rem;
}

.carousel__content .carousel___search form .btn svg {
  width: 20px;
  height: 20px;
}

.brandhub {
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.brandhub__container {
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.brandhub__container .spacer.large {
  height: 2.1rem;
}

.brandhub__container .brandhub__heading .brandhub__icon {
  display: inline-block;
  fill: currentColor;
}

.brandhub__container .brandhub__heading .brandhub__icon svg {
  width: 1.2rem;
  height: 1.4rem;
  vertical-align: baseline;
}

.brandhub__container .brandhub__heading span.spacer {
  width: 20px;
  display: inline-block;
}

.brandhub__container .brandhub__description p sup {
  font-size: 1.05rem;
}

.brandhub__container .brandhub__description p a {
  color: #00adef;
}

.brandhub__container .brandhub__description p a:hover {
  color: #0088c6;
  text-decoration: underline;
}

.footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  color: #999999;
  font-size: 1.4rem;
}

.footer__headline {
  color: #fff;
  font-size: 3.4rem;
  line-height: 4.4rem;
  font-family: MBCorpo-Title, DaimlerCAC-Regular, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 1023px) {
  .footer__headline {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
}

.footer__link {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #999999;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.footer__link:hover {
  color: #00adef;
  text-decoration: none !important;
}

.footer__container {
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.footer__container .footer__sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer__container .footer__sitemapgroup {
  padding: 0;
}

@media only screen and (max-width: 1023px) {
  .footer__container .footer__sitemapgroup {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .footer__container .footer__inform {
    margin-bottom: 90px;
  }
}

.footer__container .footer__inform p {
  width: 42%;
}

@media only screen and (max-width: 1279px) {
  .footer__container .footer__inform p {
    width: 100%;
  }
}

.footer__container .footer__inform .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.footer__container .footer__inform .footer__social .footer__icon {
  width: 4.5rem;
  font-size: 2.73rem;
  margin: 10px 16.6667px;
  text-align: center;
}

.footer__container .footer__inform .footer__social .footer__icon .footer__link svg {
  width: 2.7rem;
  height: 2.7rem;
}

.footer__container .footer__site ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container .footer__site ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  margin: 28px 0;
}

@media only screen and (max-width: 768px) {
  .footer__container .footer__site ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.footer__container .footer__site ul li a {
  display: block;
}

.footer__container .footer__site ul li a img {
  width: 100%;
  height: 2.8rem;
}

.footer__container .footer__subinform p a {
  color: #fff;
}

.footer__container .footer__subinform p a:hover {
  color: #00adef;
  text-decoration: none;
}

.footer__container .spacer.huge {
  width: 100%;
  height: 35px;
}

.footer__container .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.footer__container .footer__main .footer__lang {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  margin-bottom: 14px;
}

@media only screen and (max-width: 1023px) {
  .footer__container .footer__main .footer__lang {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.footer__container .footer__main .footer__lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .footer__container .footer__main .footer__lang ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 28px;
  }
}

.footer__container .footer__main .footer__lang ul li .footer__link {
  font-size: 1.6rem;
  color: #4dc6f4;
}

.footer__container .footer__main .footer__lang ul li .footer__link:hover {
  color: #00adef;
  cursor: pointer;
}

.footer__container .footer__main .footer__lang ul li.active .footer__link {
  font-size: 1.4rem;
  color: #fff;
  pointer-events: none;
}

.footer__container .footer__main .footer__lang ul li.active .footer__link:hover {
  cursor: default;
}

.footer__container .footer__main .footer__lang ul li:nth-child(1) .footer__link::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #00adef;
  margin-left: 13px;
  margin-right: 13px;
}

.footer__container .footer__main .footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin: 0 14px 14px;
}

@media only screen and (max-width: 1023px) {
  .footer__container .footer__main .footer__nav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 0 14px 0;
  }
}

.footer__container .footer__main .footer__nav .footer__subnav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}

@media only screen and (max-width: 1023px) {
  .footer__container .footer__main .footer__nav .footer__subnav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer__container .footer__main .footer__nav .footer__subnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__container .footer__main .footer__nav .footer__subnav ul li {
  margin-right: 16px;
}

.footer__container .footer__main .footer__nav .footer__subnav ul li .footer__link {
  color: #636363;
}

.footer__container .footer__main .footer__nav .footer__subnav ul li .footer__link:hover {
  color: #00adef;
}

.footer__container .footer__main .footer__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  margin-bottom: 14px;
}

@media only screen and (max-width: 1023px) {
  .footer__container .footer__main .footer__top {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: right;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .footer__container .footer__main .footer__top {
    margin-bottom: 80px;
  }
}

.footer__container .footer__main .footer__top .footer__link {
  color: #636363;
}

.footer__container .footer__main .footer__top .footer__link svg {
  width: 1.6rem;
  height: 1.8rem;
  display: inline-block;
  margin-left: 5px;
  vertical-align: sub;
}

.footer__container .footer__main .footer__top .footer__link:hover {
  color: #00adef;
}

.footer__container .footer__ctastrap-xl {
  position: fixed;
  right: 0;
  top: 35%;
  -webkit-transform: translateY(-44px);
          transform: translateY(-44px);
  z-index: 999;
}

@media only screen and (max-width: 1023px) {
  .footer__container .footer__ctastrap-xl {
    top: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .footer__container .footer__ctastrap-xl {
    display: none;
  }
}

.footer__container .footer__ctastrap-xl > li {
  position: relative;
  top: 0;
  left: calc(100% - 44px);
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  background-color: #1f1f1f;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.footer__container .footer__ctastrap-xl > li:hover {
  left: 0;
}

.footer__container .footer__ctastrap-xl > li:first-child {
  border-top-left-radius: 3px;
  margin: 1px 0;
}

.footer__container .footer__ctastrap-xl > li:nth-child(2) a svg {
  width: 3rem;
  margin: 0 7px;
}

.footer__container .footer__ctastrap-xl > li:last-child {
  border-bottom-left-radius: 3px;
  margin: 1px 0;
}

.footer__container .footer__ctastrap-xl > li:last-child a svg {
  width: 2.2rem;
  height: 2.2rem;
}

.footer__container .footer__ctastrap-xl > li a {
  color: #fff;
}

.footer__container .footer__ctastrap-xl > li a svg {
  width: 2.5rem;
  height: 4rem;
  margin: 0 9px;
}

.footer__container .footer__ctastrap-xl > li a:hover {
  text-decoration: none;
}

.footer__container .footer__ctastrap-xl > li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container .footer__ctastrap-xl > li ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container .footer__ctastrap-xl > li ul li a {
  display: block;
  height: inherit;
}

.footer__container .footer__ctastrap-xl > li ul li a svg {
  height: inherit !important;
}

.footer__container .footer__ctastrap-xl > li ul li a:hover {
  color: #00adef;
}

.footer__container .footer__ctastrap-xl > li ul li:first-child {
  cursor: pointer;
}

.footer__container .footer__ctastrap-xl > li ul li:first-child a {
  pointer-events: none;
}

.footer__container .footer__ctastrap-md {
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: none;
}

@media only screen and (max-width: 768px) {
  .footer__container .footer__ctastrap-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__container .footer__ctastrap-md li {
  width: calc(33% - 2px);
  height: 60px;
  margin: 0 1px;
  background-color: #1f1f1f;
  font-size: 1.1rem;
  vertical-align: top;
}

.footer__container .footer__ctastrap-md li:first-child {
  border-top-left-radius: 3px;
}

.footer__container .footer__ctastrap-md li:nth-child(2) a svg {
  width: 3rem;
}

.footer__container .footer__ctastrap-md li:last-child {
  border-top-right-radius: 3px;
}

.footer__container .footer__ctastrap-md li:last-child a svg {
  width: 2.2rem;
}

.footer__container .footer__ctastrap-md li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

.footer__container .footer__ctastrap-md li a svg {
  width: 2.5rem;
  height: 4rem;
}

.footer__container .footer__ctastrap-md li a .footer__label {
  font-size: 1.1rem;
  line-height: 2rem;
  margin-top: -5px;
}

.footer__container .footer__ctastrap-md li a:hover {
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */