.nav {
  justify-content: center;
  font-size: 14px;
  &-item &-link {
    color: $color-primary;
    background-color: transparent;
  }

  &-pills &-link.active {
    color: $color-secondary;
    background-color: transparent;
  }
}
